/* 
En pixel-wizards CSS bibliotek, pw.css
Den är tänkt för att vara en bibliotek som ska innehålla alla class, regler för att designa webbsidorna.
*/

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}


#header {
    max-width:1100px; margin: 0px auto;
}

#main {
    max-width:1100px; margin: 0px auto;
}


#footer {
    max-width:1100px; margin: 0px auto;
}



/* Colors for text */    
.pw_black {color:#000000;}
.pw_lack {color:#FFFBF0;}
.pw_red {color:#f13b3b;}
.pw_green {color:#2A9F55;}
.pw_blue {color:#025193;}
.pw_brown {color:#D47F00;}
.pw_yellow {color:#FC3;}
.pw_grey {color:#AA9FAA;}

/* Background colors for elements*/    
.pwbg_black {background-color:#000000;}
.pwbg_white {background-color:#FFFBF0;}
.pwbg_fred {background-color:#f13b3b;}
.pwbg_green {background-color:#2A9F55;}
.pwbg_blue {background-color:#025193;}
.pwbg_brown {background-color:#D47F00;}
.pwbg_yellow {background-color:#FC3;}
.pwbg_grey {background-color:#AA9FAA;}


/* Padding */ 
/* Förslag, vi kan ha pw_pt_2, padding for padding-top, b för bottom, x för sidorna  */
.pw_p_2 x
padding: 2px;
}
.pw_p_4 {
padding: 4px;
}
.pw_p_6 {
padding: 6px;
}


/* Margin */ 
/* Förslag, vi kan ha pw_m_2, margin for margin-top, b för bottom, x för sidorna  */

.pw_ml_2 {
margin-left:2px;
}
.pw_ml_4 {
margin-left:4px;
}
.pw_ml_6 {
margin-left:6px;
}



.pw_mr_2 {
margin-right:2px;
}
.pw_mr_4 {
margin-right:4px;
}
.pw_mr_6 {
margin-right:6px;
}


