/* 
En pixel-wizards CSS bibliotek, pw.css
Den är tänkt för att vara en bibliotek som ska innehålla alla class, regler för att designa webbsidorna.
*/

 
body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

 
/* Colors for text */    
.pw_black {color:#000000;}
.pw_white {color:#FFFBF0;}
.pw_red {color:#f13b3b;}
.pw_green {color:#2A9F55;}
.pw_blue {color:#025193;}
.pw_brown {color:#D47F00;}
.pw_yellow {color:#FC3;}
.pw_grey {color:#AA9FAA;}

/* Background colors for elements*/    
.pwbg_black {background-color:#000000;}
.pwbg_white {background-color:#FFFBF0;}
.pwbg_fred {background-color:#f13b3b;}
.pwbg_green {background-color:#2A9F55;}
.pwbg_blue {background-color:#025193;}
.pwbg_brown {background-color:#D47F00;}
.pwbg_yellow {background-color:#FC3;}
.pwbg_grey {background-color:#AA9FAA;}


/* Padding */ 
/* Förslag,  att ha pw_pt_2, padding for padding-top, b för bottom, x för sidorna  */
.pw_pr_2 {
padding-right: 2px;
}
.pw_pr_4 {
padding-right: 4px;
}
.pw_pr_6 {
padding-right: 6px;
}

.pw_pl_2 {
margin-left:2px;
}
.pw_pl_4 {
margin-left:4px;
}
.pw_pl_6 {
margin-left:6px;
}
 

.pw_mr_2 {
margin-right:2px;
}
.pw_mr_4 {
margin-right:4px;
}
.pw_mr_6 {
margin-right:6px;
}


/* Margin */ 
/* Förslag, vi kan ha pw_m_2, margin for margin-top, b för bottom, x för sidorna  */
/* Margin left */ 
.pw_ml_2 {
margin-left:2px;
}
.pw_ml_4 {
margin-left:4px;
}
.pw_ml_6 {
margin-left:6px;
}
 
/* Margin right */ 
.pw_mr_2 {
margin-right:2px;
}
.pw_mr_4 {
margin-right:4px;
}
.pw_mr_6 {
margin-right:6px;
}


/* Placering, center, right and left */
.pw-centrum {
text-align: center;
}
.pw-right {
text-align: right;
}
.pw-left {
text-align: left;
}



/* För max-width responsive*/
.pw_w_1_10 {
    max-width: 10%;
    margin: 0px auto;
}
 
.pw_w_1_3 {
    max-width: 33.33%;
    margin: 0px auto;
}

.pw_w_1_2 {
    max-width: 50%;
    margin: 0px auto;
}
.pw_w_1 {
    max-width: 100%;
    margin: 0px auto;
}

/* För max-width Statik */
.pw_w_900 {
    max-width: 900px;
    margin: 0px auto;
}

.pw_w_1000 {
    max-width: 900px;
    margin: 0px auto;
}
.pw_w_1100 {
    max-width: 1100px;
    margin: 0px auto;
}
.pw_w_1200 {
    max-width: 1200px;
    margin: 0px auto;
}
.pw_w_1300 {
    max-width: 1300px;
    margin: 0px auto;
}
.pw_w_1400 {
    max-width: 1400px;
    margin: 0px auto;
}
.pw_w_1500 {
    max-width: 1500px;
    margin: 0px auto;
}


/* ************ Grid kolumner pw_row **********/
/* *********Start**********/
 
.pw_row {
  display: grid;
  grid-gap: 10px;
  background-color: #2196A3;
}


.pw_col_1 {
  grid-template-columns: repeat(1, 1fr);
}


.pw_col_2 {
  grid-template-columns: repeat(2, 1fr);
}


.pw_col_3 {
  grid-template-columns: repeat(3, 1fr);
}

.pw_col_4 {
  grid-template-columns: repeat(4, 1fr);
}

.pw_col_5 {
  grid-template-columns: repeat(5, 1fr);
}

.pw_col_6 {
  grid-template-columns: repeat(6, 1fr);
}

.pw_col_7 {
  grid-template-columns: repeat(7, 1fr);
}


.pw_col_8 {
  grid-template-columns: repeat(8, 1fr);
}

/* *********End**********/




/* Start Media Query 300 */
@media screen and (max-width:300px) {

.pw_col_6 {
  grid-template-columns: repeat(1, 1fr);
}



}
/* End Media Query 300 */

/* Start Media Query 600 */
@media screen and (min-width:600px) {


}
/* End Media Query 600 */

/* Start Media Query 900 */
@media screen and (min-width:900px) {

}
/* End Media Query 900 */

